---
layout: archive
title: "Microscopy & Biometrics"
permalink: /portfolio/
author_profile: true
---
{% include base_path %}

  As a hobbyist and biophysics enthusiast, I have an interest in getting a closer look at my own biology by method of 
microscopy and physiological measurement. The first three sets of images are examples of cells swabbed, cultured, 
and imaged using a desktop microscope. This is then followed by two plots of physiological measurements taken using various sensors
and a [Raspberry Pi](https://www.raspberrypi.org). [Python implementation](https://github.com/michaelmanhart/pathman)


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

